 /*O foco dessa atividade será reposicionar os elementos da nossa página!

1. Defina o elemento .page-wrapper como referência para posicionamento.

2. Faça com que o painel .explanation ocupe 60% da largura disponível, mas crie um espaçamento a direita de 35% utilizando margin .

- Adicione uma borda à direita do painel de 1px, com a cor #1f295c

- Adicione um espaçamento interno de 2% no lado direito do painel.

3. Agora mova o menu de designs para a direita da página, ocupando o espaço em branco deixado pelo elemento .explanation .

- Faça-o iniciar na parte superior da página, após a parte de introdução (por exemplo, aplicando top: 560px ).

- Faça-o iniciar após o elemento .explanation (por exemplo, aplicando left: 62% ).

- Adicione um espaçamento interno horizontal de 2% no menu para centralizá-lo.*/

.page-wrapper {
   position: relative;
    width: 80%;
    max-width: 1280px;
    margin:auto;

}

.explanation{
   width:60%;
   border-right: 1px solid #1f295c;
   padding:2%;
   }

#design-selection{
   position: absolute;
   top: 560px;
   left:62%
}


#zen-intro{
    height: 550px;
    
}

aside ul{
   list-style-type: none;
}

aside ul li{
   margin: 1em;
   text-align: center;
 }

 .main footer a {
    border: solid 2px;
    padding: 0.5em;
    display: inline-block;


 }
 html{
   
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
 }

 #design-archives{
    display: none;
 }

 #zen-intro header{
    background-color: black;
    color: white;
     
}

#zen-intro header h1,  #zen-intro header h2{
    display:inline-block
}
#zen-intro header h1{ 
    margin-left: 1em;
    margin-right: 1em;


}
 /*2)  Parágrafo */
p{
    text-indent: 1em;
}

 /* 3) Títulos*/
 h1, h2, h3{
    text-align: center;
 }
h1{font-size: 1.8rem;}
h2{font-size: 1.4rem;}
h2{font-size: 1.2rem;}

 /* 4)Seções de resumo e principal*/

 .summary{
  
    text-align: right;
 }
 .main p{
 line-height: 1.5;
}
abbr{
    font-variant: small-caps ;
}

